In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import scipy.stats as st
from scipy.stats import linregress
import json

In [2]:
base_url = 'https://public.opendatasoft.com/api/explore/v2.1/catalog/datasets/global-shark-attack/records?limit=100'

In [3]:
requests.get(base_url)

In [4]:
#request = (requests.get(base_url).json())

In [5]:
total_count = requests.get(base_url).json()['total_count']

In [6]:
#hold the data
all_of_the_data = []

In [7]:
for currentOffset in np.arange(0,total_count,100):
  # print(currentOffset)
  cur_data = requests.get(f'{base_url}&offset={currentOffset}').json()['results']
  all_of_the_data.extend(cur_data) #extend is like
  time.sleep(0.5)

In [8]:
len(all_of_the_data)

6890

In [9]:
all_of_the_data_df = pd.DataFrame(all_of_the_data)
all_of_the_data_df

,date,year,type,country,area,location,activity,name,sex,age,...,fatal_y_n,time,species,investigator_or_source,pdf,href_formula,href,case_number,case_number0,original_order
0,2023-05-13,2023,Unprovoked,AUSTRALIA,South Australia,Elliston,Surfing,Simon Baccanello,M,46,...,Y,10h10,White shark,"B. Myatt & S. De Marchi, GSAF",None,None,None,None,None,None
1,2023-04-29,2023,Unprovoked,AUSTRALIA,Western Australia,"Yallingup, Busselton",Swimming,male,M,None,...,N,11h20,1m shark,"The West Austalian, 4/30/2023",None,None,None,None,None,None
2,2022-10-07,2022,Unprovoked,AUSTRALIA,Western Australia,Port Hedland,Spearfishing,Robbie Peck,M,38,...,N,11h30,Bull shark,"ABC,net, 10/07/2022",None,None,None,None,None,None
3,2021-10-04,2021,Unprovoked,USA,Florida,"Fort Pierce State Park, St. Lucie County",Surfing,Truman Van Patrick,M,25.0,...,N,None,None,"K. McMurray, TrackingSharks.com",2021.10.04-VanPatrick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.10.04,2021.10.04,6711
4,2021-10-03,2021,Unprovoked,USA,Florida,"Jensen Beach, Martin County",Swimming,male,M,None,...,N,12h00,None,"CBS12, 10/3/2021",2021.10.03.b-JensenBeach.pdf1,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.10.03.b,2021.10.04.b,6710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6885,None,None,Sea Disaster,GREECE,Off Thessaly,None,Shipwrecked Persian Fleet,males,M,None,...,Y,None,None,Herodotus (485 - 425 B.C.),493BC-PersianFleet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,493BC-PersianFleet,493BC,128
6886,None,None,Unprovoked,INDONESIA,Riau Province,"Natuna Islands, between Sumatra & Kalimantan i...",Swimming near anchored ship,a ship's engineer,M,None,...,Y,None,None,"C.H. Townsend, p. 172; V.M. Coppleson, p.258",ND-0054-NatunaIslands.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0054,ND.0054,52
6887,None,None,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,13 or 14,...,Y,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0038-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0038,ND.0038,38
6888,None,None,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,None,...,Y,None,None,"Captain A. Anderson, Natal Mercury, 12/31/192...",ND-0017-alongside-ship.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0017,ND.0017,18
6889,None,None,Unprovoked,AUSTRALIA,Western Australia,None,Pearl diving,Ahmun,M,None,...,Y,None,None,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5

In [10]:
all_of_the_data_df.count()
all_of_the_data_df

,date,year,type,country,area,location,activity,name,sex,age,...,fatal_y_n,time,species,investigator_or_source,pdf,href_formula,href,case_number,case_number0,original_order
0,2023-05-13,2023,Unprovoked,AUSTRALIA,South Australia,Elliston,Surfing,Simon Baccanello,M,46,...,Y,10h10,White shark,"B. Myatt & S. De Marchi, GSAF",None,None,None,None,None,None
1,2023-04-29,2023,Unprovoked,AUSTRALIA,Western Australia,"Yallingup, Busselton",Swimming,male,M,None,...,N,11h20,1m shark,"The West Austalian, 4/30/2023",None,None,None,None,None,None
2,2022-10-07,2022,Unprovoked,AUSTRALIA,Western Australia,Port Hedland,Spearfishing,Robbie Peck,M,38,...,N,11h30,Bull shark,"ABC,net, 10/07/2022",None,None,None,None,None,None
3,2021-10-04,2021,Unprovoked,USA,Florida,"Fort Pierce State Park, St. Lucie County",Surfing,Truman Van Patrick,M,25.0,...,N,None,None,"K. McMurray, TrackingSharks.com",2021.10.04-VanPatrick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.10.04,2021.10.04,6711
4,2021-10-03,2021,Unprovoked,USA,Florida,"Jensen Beach, Martin County",Swimming,male,M,None,...,N,12h00,None,"CBS12, 10/3/2021",2021.10.03.b-JensenBeach.pdf1,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.10.03.b,2021.10.04.b,6710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6885,None,None,Sea Disaster,GREECE,Off Thessaly,None,Shipwrecked Persian Fleet,males,M,None,...,Y,None,None,Herodotus (485 - 425 B.C.),493BC-PersianFleet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,493BC-PersianFleet,493BC,128
6886,None,None,Unprovoked,INDONESIA,Riau Province,"Natuna Islands, between Sumatra & Kalimantan i...",Swimming near anchored ship,a ship's engineer,M,None,...,Y,None,None,"C.H. Townsend, p. 172; V.M. Coppleson, p.258",ND-0054-NatunaIslands.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0054,ND.0054,52
6887,None,None,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,13 or 14,...,Y,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0038-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0038,ND.0038,38
6888,None,None,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,None,...,Y,None,None,"Captain A. Anderson, Natal Mercury, 12/31/192...",ND-0017-alongside-ship.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0017,ND.0017,18
6889,None,None,Unprovoked,AUSTRALIA,Western Australia,None,Pearl diving,Ahmun,M,None,...,Y,None,None,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5

In [11]:
# Changed all None to nan and then dropped all nans
new_data_df = all_of_the_data_df.replace(to_replace='None', value=np.nan).dropna()
new_data_df

,date,year,type,country,area,location,activity,name,sex,age,...,fatal_y_n,time,species,investigator_or_source,pdf,href_formula,href,case_number,case_number0,original_order
6,2021-05-03,2021,Unprovoked,USA,Hawaii,"Marine Corps Base, Oahu",Surfing,Parker Blanchette,M,14.0,...,N,16h00,5.5 ft shark,"K. McMurray, TrackingSharks.com",2021.05.01-Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.05.03,2021.05.03,6656
10,2020-10-31,2020,Unprovoked,USA,Florida,Ormond Beach,Swimming,Jordan Hooper,M,17.0,...,N,16h00,"Blacktip shark, 6' to 7'","K. McMurray, TrackingSharks.com",2020.10.31-OrmondBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.10.31,2020.10.31,6604
13,2020-02-22,2020,Unprovoked,NEW ZEALAND,North Island,Pauanui Beach,Surfing,Nick Minogue,M,60.0,...,N,11h30,White shark,"NZ Herald, 2/22/2020",2020.02.22-Minogue.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.02.22,2020.02.22,6527
19,2019-01-29,2019,Invalid,NEW ZEALAND,South Island,Oreti Beach,Boogie boarding,female,F,17.0,...,N,Evening,Reported as shark bite but injury caused by st...,"K. McMurray, TrackingSharks.com",2019.01.29-NZ.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2019.01.29,2019.01.29,6405
22,2018-06-25,2018,Watercraft,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57.0,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,1958-07-04,1958,Sea Disaster,PACIFIC OCEAN,Between Hawaii & Wake Island,600 miles northwest of Honolulu,U.S. Airforce C124 enroute from Hickham Air Ba...,"Captain Jonathan Brown, pilot",M,31.0,...,N,10h25,Sharks averaged 1.8 m [6'] in length,"Evening Star (Washington D.C.), 7/7/1958, p. A...",1958.07.04.a-Brown.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.07.04.a,1958.07.04.a,2164
6817,1958-01-19,1958,Unprovoked,AUSTRALIA,New South Wales,Brunswick Heads,Body surfing,Brian Henderson,M,14.0,...,N,16h30,6' shark,"V.M. Coppleson (1962), p.245",1958.01.19-Henderson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.01.19,1958.01.19,2146
6818,1957-04-13,1957,Unprovoked,AUSTRALIA,Torres Strait,"Thursday Island Harbour, Queensland",Swimming between anchored pearling luggers,Tuisafua Nomoa,M,22.0,...,N,14h00,Shark seen feeding on turtle scraps thrown ove...,"J.W. Robinson; V.M. Coppleson (1958), p.245; J...",1957.04.13-Nomoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1957.04.13,1957.04.13,2112
6824,1955-11-16,1955,Unprovoked,PAPUA NEW GUINEA,Central Province,"Kalautu Village, Baibara at the mouth of Oibad...",Swimming,Niu Bodu,M,8.0,...,N,18h00,Wobbegong shark,"J. G. Davis; A.M. Rapson, pp.143 & 148",1955.11.16-NiuBodu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1955.11.16,1955.11.16,2040
6844,1936-02-04,1936,Unprovoked,AUSTRALIA,New South Wales,"South Steyne, Manly",Swimming,David Paton,M,14.0,...,Y,15h00,White shark,"V.M. Coppleson (1958), pp.67 & 234; A. Sharpe,...",1936.02.04-Paton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1936.02.04,1936.02.04,1424

In [12]:
new_data_df.dtypes
#new_data_df

date                      object
year                      object
type                      object
country                   object
area                      object
location                  object
activity                  object
name                      object
sex                       object
age                       object
injury                    object
fatal_y_n                 object
time                      object
species                   object
investigator_or_source    object
pdf                       object
href_formula              object
href                      object
case_number               object
case_number0              object
original_order            object
dtype: object

In [13]:
new_data_df.dtypes

date                      object
year                      object
type                      object
country                   object
area                      object
location                  object
activity                  object
name                      object
sex                       object
age                       object
injury                    object
fatal_y_n                 object
time                      object
species                   object
investigator_or_source    object
pdf                       object
href_formula              object
href                      object
case_number               object
case_number0              object
original_order            object
dtype: object

In [14]:
new_data_df['age'] = pd.to_numeric(all_of_the_data_df['age'], errors='coerce')
new_data_df

,date,year,type,country,area,location,activity,name,sex,age,...,fatal_y_n,time,species,investigator_or_source,pdf,href_formula,href,case_number,case_number0,original_order
6,2021-05-03,2021,Unprovoked,USA,Hawaii,"Marine Corps Base, Oahu",Surfing,Parker Blanchette,M,14.0,...,N,16h00,5.5 ft shark,"K. McMurray, TrackingSharks.com",2021.05.01-Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.05.03,2021.05.03,6656
10,2020-10-31,2020,Unprovoked,USA,Florida,Ormond Beach,Swimming,Jordan Hooper,M,17.0,...,N,16h00,"Blacktip shark, 6' to 7'","K. McMurray, TrackingSharks.com",2020.10.31-OrmondBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.10.31,2020.10.31,6604
13,2020-02-22,2020,Unprovoked,NEW ZEALAND,North Island,Pauanui Beach,Surfing,Nick Minogue,M,60.0,...,N,11h30,White shark,"NZ Herald, 2/22/2020",2020.02.22-Minogue.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.02.22,2020.02.22,6527
19,2019-01-29,2019,Invalid,NEW ZEALAND,South Island,Oreti Beach,Boogie boarding,female,F,17.0,...,N,Evening,Reported as shark bite but injury caused by st...,"K. McMurray, TrackingSharks.com",2019.01.29-NZ.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2019.01.29,2019.01.29,6405
22,2018-06-25,2018,Watercraft,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57.0,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,1958-07-04,1958,Sea Disaster,PACIFIC OCEAN,Between Hawaii & Wake Island,600 miles northwest of Honolulu,U.S. Airforce C124 enroute from Hickham Air Ba...,"Captain Jonathan Brown, pilot",M,31.0,...,N,10h25,Sharks averaged 1.8 m [6'] in length,"Evening Star (Washington D.C.), 7/7/1958, p. A...",1958.07.04.a-Brown.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.07.04.a,1958.07.04.a,2164
6817,1958-01-19,1958,Unprovoked,AUSTRALIA,New South Wales,Brunswick Heads,Body surfing,Brian Henderson,M,14.0,...,N,16h30,6' shark,"V.M. Coppleson (1962), p.245",1958.01.19-Henderson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.01.19,1958.01.19,2146
6818,1957-04-13,1957,Unprovoked,AUSTRALIA,Torres Strait,"Thursday Island Harbour, Queensland",Swimming between anchored pearling luggers,Tuisafua Nomoa,M,22.0,...,N,14h00,Shark seen feeding on turtle scraps thrown ove...,"J.W. Robinson; V.M. Coppleson (1958), p.245; J...",1957.04.13-Nomoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1957.04.13,1957.04.13,2112
6824,1955-11-16,1955,Unprovoked,PAPUA NEW GUINEA,Central Province,"Kalautu Village, Baibara at the mouth of Oibad...",Swimming,Niu Bodu,M,8.0,...,N,18h00,Wobbegong shark,"J. G. Davis; A.M. Rapson, pp.143 & 148",1955.11.16-NiuBodu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1955.11.16,1955.11.16,2040
6844,1936-02-04,1936,Unprovoked,AUSTRALIA,New South Wales,"South Steyne, Manly",Swimming,David Paton,M,14.0,...,Y,15h00,White shark,"V.M. Coppleson (1958), pp.67 & 234; A. Sharpe,...",1936.02.04-Paton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1936.02.04,1936.02.04,1424

In [15]:
new_data_df['age'] = new_data_df['age'].astype('Int64')
new_data_df

,date,year,type,country,area,location,activity,name,sex,age,...,fatal_y_n,time,species,investigator_or_source,pdf,href_formula,href,case_number,case_number0,original_order
6,2021-05-03,2021,Unprovoked,USA,Hawaii,"Marine Corps Base, Oahu",Surfing,Parker Blanchette,M,14,...,N,16h00,5.5 ft shark,"K. McMurray, TrackingSharks.com",2021.05.01-Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.05.03,2021.05.03,6656
10,2020-10-31,2020,Unprovoked,USA,Florida,Ormond Beach,Swimming,Jordan Hooper,M,17,...,N,16h00,"Blacktip shark, 6' to 7'","K. McMurray, TrackingSharks.com",2020.10.31-OrmondBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.10.31,2020.10.31,6604
13,2020-02-22,2020,Unprovoked,NEW ZEALAND,North Island,Pauanui Beach,Surfing,Nick Minogue,M,60,...,N,11h30,White shark,"NZ Herald, 2/22/2020",2020.02.22-Minogue.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.02.22,2020.02.22,6527
19,2019-01-29,2019,Invalid,NEW ZEALAND,South Island,Oreti Beach,Boogie boarding,female,F,17,...,N,Evening,Reported as shark bite but injury caused by st...,"K. McMurray, TrackingSharks.com",2019.01.29-NZ.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2019.01.29,2019.01.29,6405
22,2018-06-25,2018,Watercraft,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,1958-07-04,1958,Sea Disaster,PACIFIC OCEAN,Between Hawaii & Wake Island,600 miles northwest of Honolulu,U.S. Airforce C124 enroute from Hickham Air Ba...,"Captain Jonathan Brown, pilot",M,31,...,N,10h25,Sharks averaged 1.8 m [6'] in length,"Evening Star (Washington D.C.), 7/7/1958, p. A...",1958.07.04.a-Brown.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.07.04.a,1958.07.04.a,2164
6817,1958-01-19,1958,Unprovoked,AUSTRALIA,New South Wales,Brunswick Heads,Body surfing,Brian Henderson,M,14,...,N,16h30,6' shark,"V.M. Coppleson (1962), p.245",1958.01.19-Henderson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.01.19,1958.01.19,2146
6818,1957-04-13,1957,Unprovoked,AUSTRALIA,Torres Strait,"Thursday Island Harbour, Queensland",Swimming between anchored pearling luggers,Tuisafua Nomoa,M,22,...,N,14h00,Shark seen feeding on turtle scraps thrown ove...,"J.W. Robinson; V.M. Coppleson (1958), p.245; J...",1957.04.13-Nomoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1957.04.13,1957.04.13,2112
6824,1955-11-16,1955,Unprovoked,PAPUA NEW GUINEA,Central Province,"Kalautu Village, Baibara at the mouth of Oibad...",Swimming,Niu Bodu,M,8,...,N,18h00,Wobbegong shark,"J. G. Davis; A.M. Rapson, pp.143 & 148",1955.11.16-NiuBodu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1955.11.16,1955.11.16,2040
6844,1936-02-04,1936,Unprovoked,AUSTRALIA,New South Wales,"South Steyne, Manly",Swimming,David Paton,M,14,...,Y,15h00,White shark,"V.M. Coppleson (1958), pp.67 & 234; A. Sharpe,...",1936.02.04-Paton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1936.02.04,1936.02.04,1424

In [16]:
del new_data_df['investigator_or_source']

In [17]:
del new_data_df['pdf']

In [18]:
del new_data_df['href_formula']

In [19]:
del new_data_df['href']

In [20]:
del new_data_df['case_number']

In [21]:
del new_data_df['case_number0']

In [22]:
del new_data_df['original_order']

In [23]:
new_data_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,time,species
6,2021-05-03,2021,Unprovoked,USA,Hawaii,"Marine Corps Base, Oahu",Surfing,Parker Blanchette,M,14,Lacerations to shin and calf,N,16h00,5.5 ft shark
10,2020-10-31,2020,Unprovoked,USA,Florida,Ormond Beach,Swimming,Jordan Hooper,M,17,Minor injuries,N,16h00,"Blacktip shark, 6' to 7'"
13,2020-02-22,2020,Unprovoked,NEW ZEALAND,North Island,Pauanui Beach,Surfing,Nick Minogue,M,60,"Minor injury, surfboard bitten",N,11h30,White shark
19,2019-01-29,2019,Invalid,NEW ZEALAND,South Island,Oreti Beach,Boogie boarding,female,F,17,Gash to thigh,N,Evening,Reported as shark bite but injury caused by st...
22,2018-06-25,2018,Watercraft,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,1958-07-04,1958,Sea Disaster,PACIFIC OCEAN,Between Hawaii & Wake Island,600 miles northwest of Honolulu,U.S. Airforce C124 enroute from Hickham Air Ba...,"Captain Jonathan Brown, pilot",M,31,Left shoulder bitten,N,10h25,Sharks averaged 1.8 m [6'] in length
6817,1958-01-19,1958,Unprovoked,AUSTRALIA,New South Wales,Brunswick Heads,Body surfing,Brian Henderson,M,14,"Laceration to left ankle, heel and little toe",N,16h30,6' shark
6818,1957-04-13,1957,Unprovoked,AUSTRALIA,Torres Strait,"Thursday Island Harbour, Queensland",Swimming between anchored pearling luggers,Tuisafua Nomoa,M,22,"Left arm bitten, surgically amputated",N,14h00,Shark seen feeding on turtle scraps thrown ove...
6824,1955-11-16,1955,Unprovoked,PAPUA NEW GUINEA,Central Province,"Kalautu Village, Baibara at the mouth of Oibad...",Swimming,Niu Bodu,M,8,Right thigh bitten,N,18h00,Wobbegong shark
6844,1936-02-04,1936,Unprovoked,AUSTRALIA,New South Wales,"South Steyne, Manly",Swimming,David Paton,M,14,"FATAL, taken by shark, body not recovered. Twe...",Y,15h00,White shark

In [24]:
new_data_df['species'].str.split(',',expand=True)

                                                      0          1     2     3
6                                          5.5 ft shark       None  None  None
10                                       Blacktip shark   6' to 7'  None  None
13                                          White shark       None  None  None
19    Reported as shark bite but injury caused by st...       None  None  None
22                                          White shark       None  None  None
...                                                 ...        ...   ...   ...
6816               Sharks averaged 1.8 m [6'] in length       None  None  None
6817                                           6' shark       None  None  None
6818  Shark seen feeding on turtle scraps thrown ove...       None  None  None
6824                                    Wobbegong shark       None  None  None
6844                                        White shark       None  None  None

[1622 rows x 4 columns]

In [25]:
fixed_data_df = new_data_df.join(
     new_data_df['species'].str.split(',', expand=True).rename(
         columns={0:'Species_1', 1:'Species_2', 2:'Species_3',3:'Species_4'}
     )
 )

In [26]:
fixed_data_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,time,species,Species_1,Species_2,Species_3,Species_4
6,2021-05-03,2021,Unprovoked,USA,Hawaii,"Marine Corps Base, Oahu",Surfing,Parker Blanchette,M,14,Lacerations to shin and calf,N,16h00,5.5 ft shark,5.5 ft shark,None,None,None
10,2020-10-31,2020,Unprovoked,USA,Florida,Ormond Beach,Swimming,Jordan Hooper,M,17,Minor injuries,N,16h00,"Blacktip shark, 6' to 7'",Blacktip shark,6' to 7',None,None
13,2020-02-22,2020,Unprovoked,NEW ZEALAND,North Island,Pauanui Beach,Surfing,Nick Minogue,M,60,"Minor injury, surfboard bitten",N,11h30,White shark,White shark,None,None,None
19,2019-01-29,2019,Invalid,NEW ZEALAND,South Island,Oreti Beach,Boogie boarding,female,F,17,Gash to thigh,N,Evening,Reported as shark bite but injury caused by st...,Reported as shark bite but injury caused by st...,None,None,None
22,2018-06-25,2018,Watercraft,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,White shark,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,1958-07-04,1958,Sea Disaster,PACIFIC OCEAN,Between Hawaii & Wake Island,600 miles northwest of Honolulu,U.S. Airforce C124 enroute from Hickham Air Ba...,"Captain Jonathan Brown, pilot",M,31,Left shoulder bitten,N,10h25,Sharks averaged 1.8 m [6'] in length,Sharks averaged 1.8 m [6'] in length,None,None,None
6817,1958-01-19,1958,Unprovoked,AUSTRALIA,New South Wales,Brunswick Heads,Body surfing,Brian Henderson,M,14,"Laceration to left ankle, heel and little toe",N,16h30,6' shark,6' shark,None,None,None
6818,1957-04-13,1957,Unprovoked,AUSTRALIA,Torres Strait,"Thursday Island Harbour, Queensland",Swimming between anchored pearling luggers,Tuisafua Nomoa,M,22,"Left arm bitten, surgically amputated",N,14h00,Shark seen feeding on turtle scraps thrown ove...,Shark seen feeding on turtle scraps thrown ove...,None,None,None
6824,1955-11-16,1955,Unprovoked,PAPUA NEW GUINEA,Central Province,"Kalautu Village, Baibara at the mouth of Oibad...",Swimming,Niu Bodu,M,8,Right thigh bitten,N,18h00,Wobbegong shark,Wobbegong shark,None,None,None
6844,1936-02-04,1936,Unprovoked,AUSTRALIA,New South Wales,"South Steyne, Manly",Swimming,David Paton,M,14,"FATAL, taken by shark, body not recovered. Twe...",Y,15h00,White shark,White shark,None,None,None

In [27]:
del fixed_data_df['species']

In [28]:
fixed_data_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,time,Species_1,Species_2,Species_3,Species_4
6,2021-05-03,2021,Unprovoked,USA,Hawaii,"Marine Corps Base, Oahu",Surfing,Parker Blanchette,M,14,Lacerations to shin and calf,N,16h00,5.5 ft shark,None,None,None
10,2020-10-31,2020,Unprovoked,USA,Florida,Ormond Beach,Swimming,Jordan Hooper,M,17,Minor injuries,N,16h00,Blacktip shark,6' to 7',None,None
13,2020-02-22,2020,Unprovoked,NEW ZEALAND,North Island,Pauanui Beach,Surfing,Nick Minogue,M,60,"Minor injury, surfboard bitten",N,11h30,White shark,None,None,None
19,2019-01-29,2019,Invalid,NEW ZEALAND,South Island,Oreti Beach,Boogie boarding,female,F,17,Gash to thigh,N,Evening,Reported as shark bite but injury caused by st...,None,None,None
22,2018-06-25,2018,Watercraft,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,1958-07-04,1958,Sea Disaster,PACIFIC OCEAN,Between Hawaii & Wake Island,600 miles northwest of Honolulu,U.S. Airforce C124 enroute from Hickham Air Ba...,"Captain Jonathan Brown, pilot",M,31,Left shoulder bitten,N,10h25,Sharks averaged 1.8 m [6'] in length,None,None,None
6817,1958-01-19,1958,Unprovoked,AUSTRALIA,New South Wales,Brunswick Heads,Body surfing,Brian Henderson,M,14,"Laceration to left ankle, heel and little toe",N,16h30,6' shark,None,None,None
6818,1957-04-13,1957,Unprovoked,AUSTRALIA,Torres Strait,"Thursday Island Harbour, Queensland",Swimming between anchored pearling luggers,Tuisafua Nomoa,M,22,"Left arm bitten, surgically amputated",N,14h00,Shark seen feeding on turtle scraps thrown ove...,None,None,None
6824,1955-11-16,1955,Unprovoked,PAPUA NEW GUINEA,Central Province,"Kalautu Village, Baibara at the mouth of Oibad...",Swimming,Niu Bodu,M,8,Right thigh bitten,N,18h00,Wobbegong shark,None,None,None
6844,1936-02-04,1936,Unprovoked,AUSTRALIA,New South Wales,"South Steyne, Manly",Swimming,David Paton,M,14,"FATAL, taken by shark, body not recovered. Twe...",Y,15h00,White shark,None,None,None

In [29]:
del fixed_data_df['time']

In [30]:
fixed_data_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,Species_1,Species_2,Species_3,Species_4
6,2021-05-03,2021,Unprovoked,USA,Hawaii,"Marine Corps Base, Oahu",Surfing,Parker Blanchette,M,14,Lacerations to shin and calf,N,5.5 ft shark,None,None,None
10,2020-10-31,2020,Unprovoked,USA,Florida,Ormond Beach,Swimming,Jordan Hooper,M,17,Minor injuries,N,Blacktip shark,6' to 7',None,None
13,2020-02-22,2020,Unprovoked,NEW ZEALAND,North Island,Pauanui Beach,Surfing,Nick Minogue,M,60,"Minor injury, surfboard bitten",N,White shark,None,None,None
19,2019-01-29,2019,Invalid,NEW ZEALAND,South Island,Oreti Beach,Boogie boarding,female,F,17,Gash to thigh,N,Reported as shark bite but injury caused by st...,None,None,None
22,2018-06-25,2018,Watercraft,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,1958-07-04,1958,Sea Disaster,PACIFIC OCEAN,Between Hawaii & Wake Island,600 miles northwest of Honolulu,U.S. Airforce C124 enroute from Hickham Air Ba...,"Captain Jonathan Brown, pilot",M,31,Left shoulder bitten,N,Sharks averaged 1.8 m [6'] in length,None,None,None
6817,1958-01-19,1958,Unprovoked,AUSTRALIA,New South Wales,Brunswick Heads,Body surfing,Brian Henderson,M,14,"Laceration to left ankle, heel and little toe",N,6' shark,None,None,None
6818,1957-04-13,1957,Unprovoked,AUSTRALIA,Torres Strait,"Thursday Island Harbour, Queensland",Swimming between anchored pearling luggers,Tuisafua Nomoa,M,22,"Left arm bitten, surgically amputated",N,Shark seen feeding on turtle scraps thrown ove...,None,None,None
6824,1955-11-16,1955,Unprovoked,PAPUA NEW GUINEA,Central Province,"Kalautu Village, Baibara at the mouth of Oibad...",Swimming,Niu Bodu,M,8,Right thigh bitten,N,Wobbegong shark,None,None,None
6844,1936-02-04,1936,Unprovoked,AUSTRALIA,New South Wales,"South Steyne, Manly",Swimming,David Paton,M,14,"FATAL, taken by shark, body not recovered. Twe...",Y,White shark,None,None,None

In [31]:
species= fixed_data_df['Species_1'].unique()
species

array(['5.5 ft shark', 'Blacktip shark', 'White shark',
       'Reported as shark bite but injury caused by stingray',
       'Questionable', 'Wobbegong shark', '3 m shark',
       'Shark involvement not confirmed', 'Tiger shark', 'Bull shark',
       "8' to 10' shark", "2' to 3' shark", "3.5' to 4' shark",
       'Nurse shark', 'Tawny nurse shark', "6' shark",
       "8' white shark or 7-gill shark",
       'Reported by media as shark attack', 'A bull shark', '2 m shark',
       "3' shark", "6' to 8' shark", "6 m [20'] white shark",
       "A 2' shark was seen in the area by witnesses", 'juvenile shark',
       'Tiger shark?', "1.8 m [6'] shark",
       "4 m to 5 m [13' to 16.5']  white shark",
       "5 m to 6 m [16.5' to 20'] white shark", 'Lemon shark',
       '3.5 m white shark', "3 m to 5 m [10' to 16.5'] white shark",
       'Raggedtooth shark', "4 m to 5 m [13' to 16.5'] white shark",
       'Questionable incident', "14' shark",
       "3 m [10'] shark seen in vicinity", 'Possibly C. leucas',
       "8' shark", "5' to 6' shark", 'Broadnose seven gill shark?',
       "10'-12' tiger shark", "12' shark", 'Salmon shark', 'Blue shark',
       "4' to 5' shark", '3 m to 4 m white shark', 'Zambesi shark',
       'Thought to involve a cookiecutter shark', "+3' shark",
       'Shark involvement prior to death was not confirmed',
       "3' to 4' shark", 'juvenile white shark', "[4' to 5']",
       'Mako shark', "1.2 m [4'] bull shark", 'Unidentified species',
       "1.2 m [4'] shark",
       "2.7 m [9']  bull shark or Caribbean reef shark",
       "5' spinner shark", "5.5 m to 6 m [18' to 20'] white shark",
       '4.2 m white shark', "2.4 m [8'] shark",
       "2.3 m [7.5'] white shark", "1.2 m [4'] dusky shark",
       "3.5 m [11.5'] white shark", "3 m [10'] shark",
       "Believed to involve a 2.8 m [9'3] white shark",
       'Juvenile dusky shark', 'small blacktip shark', 'Grey nurse shark',
       'Local authorities speculated that the water was too cold for sharks',
       'Hammerhead shark', 'Invalid', '60 cm  shark', "1.2 m [4']",
       '>1.6 m shark', 'Blacktip or spinner shark', 'Sandtiger shark',
       'Species unidentified',
       "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
       "3' blacktip shark", 'Bull shark?', 'small shark',
       "5.5 m [18'] white shark", "4 m [13'] white shark",
       "3 m [10'] bull shark", '4.3 m shark', "1.5 m [5'] dusky shark",
       '4.5 m to 5 m white shark',
       'Questionable incident; reported as shark attack but thought to involve a pinniped instead',
       "7 m [23'] white shark", 'Spinner or blacktip sharks',
       "1.8 m [6']", ">1.2 m [4'] tiger shark",
       "Hand found in gut of 2.9 m to 3.3 m [9'7 to 10'11] Galapagos shark",
       'Horn shar', 'A hammerhead shark', "2.4 m [8']  shark", "4' shark",
       '1.5 m', 'Identified as C. gangeticus by Dr. J. Fayrer',
       'Grey reef shark',
       'Reported as shark attacks but injuries caused by toadfish',
       'Possibly a juvenile blacktip shark', '1.5 m shark',
       "4' tp 5' shark", 'Bronze whaler shark',
       "2 m [6.75'] sevengill  shark",
       "1.2 m [4'] blacktip or sandbar shark",
       'Possibly a blacktip shark',
       'Thought to involve a small sand shark',
       "1.2 m [4'] spinner shark", "2.5 m [8.25'] white shark",
       "2.7 m [9'] white shark", "2 m [6.75'] white shark",
       'Zambezi shark (tooth fragments recovered)',
       "2.4 m [8'] white shark", "1.8 m to 2.4 m [6' to 8'] shark",
       "1.5 m [5'] shark",
       '2 days later a 600-lb shark was caught 100 yards from the site',
       'Bronze whaler', "9' shark", 'Shovelnose shark which is a ray',
       "2' shark", 'Cookiecutter shark', 'Broadnose sevengill shark',
       "3' to 5' shark", '3- to 4-foot shark', "7' shark",
       'Spinner shark', "Possibly a 5' to 6' bull shark", '1',
       "0.9 m  to 1.2 m [3' to 4'] shark", 'Shortfin mako shark',
       '3 bull sharks', 'A small shark', 'Possibly a tiger shark',
       '4 m shark', "1.2 m to 1.5 m [4' to 5'] shark",
       'Thought to involve a tiger shark',
       "2.5 m to 3 m [8.25' to 10']  white shark",
       "3 m [10'] white shark", 'Possibly a small hammerhead shark',
       'Hammerhead shark?+O2356', 'C. maculpinnis or C. limbatus',
       "2.8 m [9'3] white shark", 'A pack of 6 sharks',
       "1.7 m [5.5'] shark",
       "Said to involve 2 sharks: 5.2 m & 6 m [17' & 20']",
       "4.6 m [15'] shark",
       'Shark involvement prior to death unconfirmed',
       "Thought to involve a 2.6 m [8.5'] white shark", '8 shark',
       'Oceanic whitetip shark', "Thought to involve a 3' to 4' shark",
       "15' shark", '2.6 m shark', "9.5' shark?", 'No shark involvement',
       "12' to 18' shark", "18' white shark",
       "3 m to 4.5 m [10' to 15'] white shark",
       "3 m to 3.7 m [10' to 12'] shark", "0.9 m [3'] shark",
       'Unidentified', "1.2 m to 1.8 m [4' to 6'] shark",
       "5.5 m to 6 m [18' to 20']  white shark",
       "5 m [16.5'] white shark",
       "Said to involve a 6 m to 7 m [20' to 23'] white shark",
       "0.9 m to 1.2 m [3' to 4'] shark", "12' to 14' shark",
       "1.5 m to 1.8 m [5' to 6'] sandbar shark", 'Grey nurse shark?',
       "5' shark", 'possibly a bull shark', 'Spurdog',
       "2.4 m to 3.7 m [8' to 12'] shark",
       "4.5 m to 5.5 m [15' to 18'] white shark", 'a small shark',
       '2.5 m shark', 'Possibly a white shark',
       "1.2 m to 1.5 m [4' to 5']   shark", 'sand shark',
       "2.7 m [9'] shark", ">1.8 m [6'] shark", ">6 m [20'] white shark",
       "1.8 m [6'] blacktip shark or Caribbean reef shark",
       "3.7 m [12'] shark", "1.8 to 2.4 m [6' to 8'] shark",
       'White shark (tooth fragment recovered)', "1.8 m [6']  shark",
       "gummy shark (Rhizoprionodon or Loxodon) 1.2 m [4']",
       "Two 2.1 m [7'] sharks", "1.8 to 2.1 m [6' to 7'] shark",
       '3.6 m  white shark  (or bronze whaler)',
       'Thought to involve a mako or grey nurse shark', 'reef shark',
       '2 small bull sharks', '24 to 30 shark', 'Whitetip reef shark',
       "On 8/13/2005 anglers from New Zealand caught a 2.8 m [9'3]",
       "1.9 m [6.5'] bull shark",
       "1.2 m to 1.5 m [4' to 5'] hammerhead shark", '6 m  white shark',
       "4' to 8' shark", '300- to 400-lb Zambesi shark',
       'Possibly a bronze whaler shark', 'Sickelfin lemon shark',
       "Hammerhead shark. 6' to 7'", "10' shark", "4' to 6' shark",
       'Thought to involve a Bronze whale shark',
       'Not a shark attack; it was a hoax', 'White shark?', '1.8 m shark',
       "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6']",
       '2 sharks', '“small brown shark”',
       "3.7 m to 4.3 m [12' to 14'] white shark", "3'  shark",
       "6 m [20'] shark", '1.3 to 1.6 m shark',
       'Though to involve a white shark', 'Small shark', '150-lb shark',
       'Mako shark (tooth fragments recovered)',
       'Thought to involve a blacktip shark',
       'Tooth fragments of “whaler” shark were recovered',
       "4.3 m [14'] shark",
       "Said to involve 6 to 7 m [20' to 23'] white shark",
       'Epaulette shark', "6.5' shark", 'Bull shark pup',
       "Said to involve an 8' shark but more likely damage caused by debris",
       '2 m to  3 m shark', 'Possibly a small blacktip shark',
       'Angel shark', "14' white shark", "4 m [13'] shark",
       "0.9 m to 1.5 m [3' to 5'] shark",
       "2.4 m to 3 m [8' to 10'] grey colored shark", 'bull shark',
       'Caribbean reef shark', "1.5 to 1.8 m [5' to 6'] shark",
       "1.3 m [4'3] shark", "2.4 m to 3 m [8' to 10'] white shark",
       'Dusky shark',
       'Dooley believed his Injury was caused by stingray (Dasyatidae family)',
       ">3 m [10'] shark", 'Blacktip or Spinner shark',
       "10' to 12' shark", 'White shark or bronze whaler',
       '2 to 2.5 m shark', "2.1 m  [7'] bull shark",
       'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
       'Unidentified shark', 'Sand shark?', '7-gill shark',
       "3.7 to 4.5 m [12' to 15'] shark seen in vicinity",
       'Reported as  a shark bite but toothmarks appear to be those of a dolphin',
       'Sevengill shark', '1.3m shark', 'Shark involvement questionable',
       '3+ m shark', 'White shark or oceanic whitetip shark',
       'Port Jackson shark', '5 m white shark',
       "8' bull shark or Caribbean reef shark", "5' to 7' shark",
       "9'2 white shark",
       '15 cm to 20 cm [6 to 8] bite diameter just below left knee',
       'Possibly a juvenile blacktip or spinner shark',
       '5 m to 6 m white shark', ">2.4 m [8'] white shark",
       "1.2 m [4'] blacktip shark", "6' to 8' bull shark",
       'White shark tooth fragment recovered from ankle & identified by Dr. W. I. Follett',
       '1m shark', 'dogfish shark', "2 white shark: 13' & 98",
       'Possibly a blacktip reef shark', 'Allegedly a 4 m tiger shark',
       'Shark involvement prior to death not confirmed',
       'White shark x 2', '2m shark', 'Thresher shark',
       'blacktip or spinner shark', "1.5' to 2' shark",
       "1.8 m [6'] bull shark", 'Shark involvement doubtful',
       'Possibly a bull shark or tiger shark',
       'Bull shark or lemon shark', "4' spinner shark",
       '1 m grey-colored shark', "2 m to 2.5 m [6.75'  to 8.25'] shark",
       "1.5 m to 1.8m [5' to 6'] shark", '1 m shark',
       'Reported to involve a White shark', 'Galapagos shark',
       'Thought to involve a bull shark', '20 to 30kg shark',
       '18 to 24 shark', "Possibly a 6' bull shark",
       'Questionable incident - shark bite may have precipitated drowning',
       'Thought to involve a 5.5 m white shark named Kong',
       '1.5 m copper shark',
       "1.8 m to 2.1 m [6' to 7'] spinner or blacktip shark",
       "2 m to 2.5 m [6.75'  to 8.25'] sixgill or sevengill shark",
       "4.5 m to 5.5 m [14.7' to 18'] white shark",
       "1.2 m to 1.5 m [4' to 5'] bull", 'Sevengill  shark',
       "Tiger shark. 14'3", 'Said to involve a bull shark',
       'Wobbegong shark?', "Possibly a 5' to 6' sandtiger shark",
       'Shark involvement not confirmed; thought to be a barracuda bite',
       'A 10-year-old 94-pound pregnant blacktip reef shark',
       "12' to 14' white shark",
       "Thought to involve a >2 m [6.75'] bull shark", 'A “small” shark',
       "1' to 2' hammerhead or bonnethed shark", 'Zambesi shark?',
       'Possibly a sand shark', "1.8 m to 2.1 m [6' to 7'] shark",
       '>2 m shark', "1.8 m [6'] blacktip shark",
       "2.1 m [7'] lemon shark or bull shark",
       'Thought to involve a white shark',
       "3 m to 4.3 m [10' to 14'] shark", '3m shark',
       '5 to 8-ff tiger shark', 'Blacktip whaler', 'Juvenile shark',
       'Reef shark', "4.5 to 5' shark",
       "Possibly a 1' to 3' blacktip or spinner shark",
       "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity",
       'a young shark', "3 m to 4 m [10' to 13'] white shark",
       "2 m [6.75'] shark", '5.7 m white shark',
       'A long thin brown-colored shark', '36  shark', "2.1 m [7'] shark",
       'small blacktip shark?', "1.2 m [4'] grey-colored shark",
       "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
       "2.7 m [9'] bull or lemon shark", "4.5 m [14'9] white shark",
       '>1 m shark', "1.8 m [6'] white shark", '200-lb shark',
       'White shark (identified by Dr. Hugh Smith)',
       'Juvenile white shark', "1' to 2' shark",
       'possibly a bronze whaler shark', "2.5 m [8.25'] bull shark",
       "3.7 m to 4.3 m [12' to 14'] shark",
       'Possibly  a blacktip or spinner shark',
       "3 to 3.5 m [10' to 11.5'] bull shark",
       "1.8 m to 2.4 m [6' to 8'] hammerhead shark", "4.5' shark",
       "5' blue shark", "2.1 m [7']",
       "2.4 m [8'] tiger shark caught 40 hours later with shorts of the boy in its gut",
       "2.6 m [8.5'] shark landed 2 hours later",
       "4.3 m [14'] shark seen in area previous week",
       'Blacktip reef shark', 'Porbeagle shark',
       "5' to 6' spinner or bull shark", '1 m  shark',
       "0.9 m  [3'] shark", "60 cm to 90 cm [2' to 3'] shark",
       'Tiger shark caught 6 days later with diver’s remains in its gut',
       "Possibly a 1.5 m [5'] blacktip shark",
       "1.5 m to 2 m [5' to 6.75'] shark", 'Copper shark',
       'Possibly a broadnose 7-gill shark', 'According to Benjamin',
       'White xhark', "7' to 8' shark", 'Whaler or bull shark',
       '3.5 m shark', 'Reported to involve a bull shark',
       '1.5 to 2 m shark', '2 m to 3 m shark', "14' to 16' white shark",
       "1.5 m [5'] whaler shark", 'Bronze whaler or tiger shark',
       ">2.5 m [8.25'] white shark", "7' to 8' bull shark",
       '500-lb shark', 'Unknown', "4 m [13'] shark seen in vicinity",
       'White Shark', 'Oceanic whitetip sharks were in the vicinity',
       'Caribbean reef sharks', "4.9 m to 5.5 m [16' to 18'] white shark",
       "3.5' to 4.5' shark", "1.2 m [4'] shark (spinner shark?)",
       "5 m to 5.5 m [16.5' to 18'] white shark",
       "6' to 7' blacktip shark",
       'Shark involvement suspected but not confirmed',
       "3.5' hammerhead shark",
       'Said to involve a tiger shark or a hammerhead shark',
       "Possibly a  1.8 m [6'] Zambezi shark",
       '1.8 to 2 m C. albimarginatus', "1.8 m to 2 m [6' to 6'9] shark",
       "3.7 m [12'] shark & may have been another shark nearby",
       'a small reef shark', 'Possibly a spinner shark', '2 to 3 m shark',
       'Possibly a sandbar shark or small blacktip shark',
       "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark",
       "2' to 3.5' shark",
       "Possibly a 1.5 m [5'] blacktip or spinner shark",
       "2.1 to 2.4 m [7' to 8'] shark",
       'Small dusky shark or blackfin shark',
       "Remains recovered from 5.5 m [18'] white shark",
       "2 m [6'9] Zambesi shark",
       "1.5 m to 1.8 m [5' to 6'] Zambesi shark", "5.5 m [18'] shark",
       "3.5 m [11.5'] shark",
       "Moreno’s leg  & part of his swim suit found in 9' shark caught two hours after the attack. Identified as carcharhinid shark by L. Schultz & C. Limbaugh on photograph",
       "Thought to involve a 4' sandtiger shark", '1+ m shark',
       'Reef shark x 2', 'Hammerhead shark.', "14' to 18'shark",
       '80 kg shark', "Possibly a 10' bull shark",
       "Thought to involve a 2 m [6.75'] grey nurse shark",
       ">3.4 m [11'] white shark",
       "Next morning a 3 m [10'] shark was caught that had Andrews' leg in its gut",
       '136-kg [300-lb] shark', "Said to be 6.4 m [21'] shark",
       "4.3 m [14'] shark seen in vicinity",
       "2.8 m [9'3] whaler shark captured 3 days later with his remains in its gut",
       'Blacktip shark?', 'Bronze whaler 1.5m', '3.5 to 4 m shark',
       'Sandbar shark', 'Nurse shark?', 'Lesser spotted dogfish',
       '2.5 to 3 m shark', "Thought to involve a 2.7 m [9']",
       '4.5 m white shark', "1.8 m to 2.1 m [6' to 7'] hammerhead shark",
       '4 m white shark', "5 m  [16.5'] white shark",
       "3.5 m [11.5']  white shark", "1.8 m [6'] Zambezi shark",
       'Juvenile dusky or blacktip shark',
       'White shark according to tooth pattern and witnesses',
       "1.5 m to 1.8 m [5' to 6'] shark", '43 shark',
       'Thought to involve a Zambesi shark', '4m shark', "5' to 8' shark",
       'Shark involvement highly doubtful', 'Small bull shark',
       '3 m to 4 m shark', "3' to 3.5' shark", '4.5 m & 5 m white shark',
       'Bull or tiger shark',
       "60 cm to 90 cm [2' to 3'] blacktip or spinner shark", "3 m [10']",
       '1.6 m shark', "4m [13'] shark", "3.3 m [10'9] shark",
       "White shark 4.9 m [16']", "1.8 m to 2.7 m [6' to 9'] shark",
       'Invalid incident', "6' to 7' shark", 'white shark',
       'Bronze whaler shark?', "1.2 m [4'] hammerhead shark",
       'whitetip shark', '1m to 1.2 m shark', '7-gill shark?',
       'Possibly a bull shark', '4 to 5m white shark', "2.5' shark",
       'Thought to involve a 2.5 m bull or tiger shark', 'Sand shark',
       '1.5 m to 2 m shark', "Mako shark (aka bonito shark) 1.2 m [4']",
       "2.7 m [9'] blue shark", 'Shark involvement probable',
       "[4.5' to 5'] shark", "106 cm [3.5']  shark",
       'C. leucas tooth fragment recovered from kayak',
       'Shark involvement not confirmed; officials considered barracua',
       "Sharks averaged 1.8 m [6'] in length",
       'Shark seen feeding on turtle scraps thrown overboard prior to incident.'],
      dtype=object)

In [32]:
fixed_data_df['Species_1'].value_counts().head(25)

Species_1
White shark                                           261
Tiger shark                                           136
Bull shark                                             73
4' shark                                               36
Bronze whaler shark                                    29
Blacktip shark                                         28
Raggedtooth shark                                      25
Shark involvement not confirmed                        25
4' to 5' shark                                         21
1.8 m [6'] shark                                       21
6' shark                                               19
Nurse shark                                            18
Invalid                                                16
3' shark                                               16
Mako shark                                             15
3' to 4' shark                                         15
Grey nurse shark                                       15
1.5 m [5'] shark                                       14
5' shark                                               14
Wobbegong shark                                        14
1.2 m [4'] shark                                       14
1.2 m to 1.5 m [4' to 5'] shark                        13
Shark involvement prior to death was not confirmed     11
6 m [20'] white shark                                  10
Zambesi shark                                          10
Name: count, dtype: int64

In [33]:
fixed_data_df['Species_1'] = fixed_data_df['Species_1'].replace({"4' shark": 'Unknown',"4' to 5' shark": 'Unknown',"1.8 m [6'] shark":'Unknown',
"6' shark":'Unknown',"Invalid":'Unknown',"3' shark": 'Unknown'})

In [34]:
# create a list of sharks
top_sharks = fixed_data_df['Species_1'].value_counts().head(10).keys().to_list()

In [35]:
top_shark_df = fixed_data_df.head(0).copy()
dfs = []

In [36]:
for shark in top_sharks:
    dfs.append(fixed_data_df.loc[fixed_data_df['Species_1'] == shark])

In [37]:
for df in dfs:
   top_shark_df= pd.concat([top_shark_df,df])

In [38]:
top_shark_df['Species_1'].value_counts().head(20)

Species_1
White shark                        261
Tiger shark                        136
Unknown                            131
Bull shark                          73
Bronze whaler shark                 29
Blacktip shark                      28
Raggedtooth shark                   25
Shark involvement not confirmed     25
Nurse shark                         18
Grey nurse shark                    15
Name: count, dtype: int64

In [39]:
fixed_data_df['Species_1'].value_counts().head().keys().to_list().index('White shark')

0

In [40]:
fixed_data_df['Species_1'].loc[fixed_data_df['Species_1'] =='White shark' ]

13      White shark
22      White shark
24      White shark
37      White shark
45      White shark
           ...
6679    White shark
6725    White shark
6797    White shark
6808    White shark
6844    White shark
Name: Species_1, Length: 261, dtype: object

In [52]:
fixed_data_df['Species_1'].value_counts().head().keys().to_list()

['White shark', 'Tiger shark', 'Unknown', 'Bull shark', 'Bronze whaler shark']

In [54]:
fixed_data_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,Species_1,Species_2,Species_3,Species_4
6,2021-05-03,2021,Unprovoked,USA,Hawaii,"Marine Corps Base, Oahu",Surfing,Parker Blanchette,M,14,Lacerations to shin and calf,N,5.5 ft shark,None,None,None
10,2020-10-31,2020,Unprovoked,USA,Florida,Ormond Beach,Swimming,Jordan Hooper,M,17,Minor injuries,N,Blacktip shark,6' to 7',None,None
13,2020-02-22,2020,Unprovoked,NEW ZEALAND,North Island,Pauanui Beach,Surfing,Nick Minogue,M,60,"Minor injury, surfboard bitten",N,White shark,None,None,None
19,2019-01-29,2019,Invalid,NEW ZEALAND,South Island,Oreti Beach,Boogie boarding,female,F,17,Gash to thigh,N,Reported as shark bite but injury caused by st...,None,None,None
22,2018-06-25,2018,Watercraft,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,1958-07-04,1958,Sea Disaster,PACIFIC OCEAN,Between Hawaii & Wake Island,600 miles northwest of Honolulu,U.S. Airforce C124 enroute from Hickham Air Ba...,"Captain Jonathan Brown, pilot",M,31,Left shoulder bitten,N,Sharks averaged 1.8 m [6'] in length,None,None,None
6817,1958-01-19,1958,Unprovoked,AUSTRALIA,New South Wales,Brunswick Heads,Body surfing,Brian Henderson,M,14,"Laceration to left ankle, heel and little toe",N,Unknown,None,None,None
6818,1957-04-13,1957,Unprovoked,AUSTRALIA,Torres Strait,"Thursday Island Harbour, Queensland",Swimming between anchored pearling luggers,Tuisafua Nomoa,M,22,"Left arm bitten, surgically amputated",N,Shark seen feeding on turtle scraps thrown ove...,None,None,None
6824,1955-11-16,1955,Unprovoked,PAPUA NEW GUINEA,Central Province,"Kalautu Village, Baibara at the mouth of Oibad...",Swimming,Niu Bodu,M,8,Right thigh bitten,N,Wobbegong shark,None,None,None
6844,1936-02-04,1936,Unprovoked,AUSTRALIA,New South Wales,"South Steyne, Manly",Swimming,David Paton,M,14,"FATAL, taken by shark, body not recovered. Twe...",Y,White shark,None,None,None

In [58]:
clean_data_df = fixed_data_df.drop(fixed_data_df.index[808])
clean_data_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,Species_1,Species_2,Species_3,Species_4
6,2021-05-03,2021,Unprovoked,USA,Hawaii,"Marine Corps Base, Oahu",Surfing,Parker Blanchette,M,14,Lacerations to shin and calf,N,5.5 ft shark,None,None,None
10,2020-10-31,2020,Unprovoked,USA,Florida,Ormond Beach,Swimming,Jordan Hooper,M,17,Minor injuries,N,Blacktip shark,6' to 7',None,None
13,2020-02-22,2020,Unprovoked,NEW ZEALAND,North Island,Pauanui Beach,Surfing,Nick Minogue,M,60,"Minor injury, surfboard bitten",N,White shark,None,None,None
19,2019-01-29,2019,Invalid,NEW ZEALAND,South Island,Oreti Beach,Boogie boarding,female,F,17,Gash to thigh,N,Reported as shark bite but injury caused by st...,None,None,None
22,2018-06-25,2018,Watercraft,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,1958-07-04,1958,Sea Disaster,PACIFIC OCEAN,Between Hawaii & Wake Island,600 miles northwest of Honolulu,U.S. Airforce C124 enroute from Hickham Air Ba...,"Captain Jonathan Brown, pilot",M,31,Left shoulder bitten,N,Sharks averaged 1.8 m [6'] in length,None,None,None
6817,1958-01-19,1958,Unprovoked,AUSTRALIA,New South Wales,Brunswick Heads,Body surfing,Brian Henderson,M,14,"Laceration to left ankle, heel and little toe",N,Unknown,None,None,None
6818,1957-04-13,1957,Unprovoked,AUSTRALIA,Torres Strait,"Thursday Island Harbour, Queensland",Swimming between anchored pearling luggers,Tuisafua Nomoa,M,22,"Left arm bitten, surgically amputated",N,Shark seen feeding on turtle scraps thrown ove...,None,None,None
6824,1955-11-16,1955,Unprovoked,PAPUA NEW GUINEA,Central Province,"Kalautu Village, Baibara at the mouth of Oibad...",Swimming,Niu Bodu,M,8,Right thigh bitten,N,Wobbegong shark,None,None,None
6844,1936-02-04,1936,Unprovoked,AUSTRALIA,New South Wales,"South Steyne, Manly",Swimming,David Paton,M,14,"FATAL, taken by shark, body not recovered. Twe...",Y,White shark,None,None,None

In [60]:
clean_data_df['date']=pd.to_datetime(clean_data_df['date'], format='%Y-%m-%d')

In [62]:
clean_data_df.dtypes

date         datetime64[ns]
year                 object
type                 object
country              object
area                 object
location             object
activity             object
name                 object
sex                  object
age                   Int64
injury               object
fatal_y_n            object
Species_1            object
Species_2            object
Species_3            object
Species_4            object
dtype: object

In [63]:
clean_data_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,Species_1,Species_2,Species_3,Species_4
6,2021-05-03,2021,Unprovoked,USA,Hawaii,"Marine Corps Base, Oahu",Surfing,Parker Blanchette,M,14,Lacerations to shin and calf,N,5.5 ft shark,None,None,None
10,2020-10-31,2020,Unprovoked,USA,Florida,Ormond Beach,Swimming,Jordan Hooper,M,17,Minor injuries,N,Blacktip shark,6' to 7',None,None
13,2020-02-22,2020,Unprovoked,NEW ZEALAND,North Island,Pauanui Beach,Surfing,Nick Minogue,M,60,"Minor injury, surfboard bitten",N,White shark,None,None,None
19,2019-01-29,2019,Invalid,NEW ZEALAND,South Island,Oreti Beach,Boogie boarding,female,F,17,Gash to thigh,N,Reported as shark bite but injury caused by st...,None,None,None
22,2018-06-25,2018,Watercraft,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,1958-07-04,1958,Sea Disaster,PACIFIC OCEAN,Between Hawaii & Wake Island,600 miles northwest of Honolulu,U.S. Airforce C124 enroute from Hickham Air Ba...,"Captain Jonathan Brown, pilot",M,31,Left shoulder bitten,N,Sharks averaged 1.8 m [6'] in length,None,None,None
6817,1958-01-19,1958,Unprovoked,AUSTRALIA,New South Wales,Brunswick Heads,Body surfing,Brian Henderson,M,14,"Laceration to left ankle, heel and little toe",N,Unknown,None,None,None
6818,1957-04-13,1957,Unprovoked,AUSTRALIA,Torres Strait,"Thursday Island Harbour, Queensland",Swimming between anchored pearling luggers,Tuisafua Nomoa,M,22,"Left arm bitten, surgically amputated",N,Shark seen feeding on turtle scraps thrown ove...,None,None,None
6824,1955-11-16,1955,Unprovoked,PAPUA NEW GUINEA,Central Province,"Kalautu Village, Baibara at the mouth of Oibad...",Swimming,Niu Bodu,M,8,Right thigh bitten,N,Wobbegong shark,None,None,None
6844,1936-02-04,1936,Unprovoked,AUSTRALIA,New South Wales,"South Steyne, Manly",Swimming,David Paton,M,14,"FATAL, taken by shark, body not recovered. Twe...",Y,White shark,None,None,None

In [77]:
clean_data_df['Species_1'].value_counts().head(200)

Species_1
White shark                                      260
Tiger shark                                      136
Unknown                                          131
Bull shark                                        73
Bronze whaler shark                               29
                                                ...
Possibly a 1' to 3' blacktip or spinner shark      1
14' to 16' white shark                             1
5.5 m [18'] shark                                  1
Bronze whaler or tiger shark                       1
43 shark                                           1
Name: count, Length: 200, dtype: int64

In [66]:
del clean_data_df['Species_2']

In [67]:
del clean_data_df['Species_3']

In [68]:
del clean_data_df['Species_4']

In [69]:
clean_data_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,Species_1
6,2021-05-03,2021,Unprovoked,USA,Hawaii,"Marine Corps Base, Oahu",Surfing,Parker Blanchette,M,14,Lacerations to shin and calf,N,5.5 ft shark
10,2020-10-31,2020,Unprovoked,USA,Florida,Ormond Beach,Swimming,Jordan Hooper,M,17,Minor injuries,N,Blacktip shark
13,2020-02-22,2020,Unprovoked,NEW ZEALAND,North Island,Pauanui Beach,Surfing,Nick Minogue,M,60,"Minor injury, surfboard bitten",N,White shark
19,2019-01-29,2019,Invalid,NEW ZEALAND,South Island,Oreti Beach,Boogie boarding,female,F,17,Gash to thigh,N,Reported as shark bite but injury caused by st...
22,2018-06-25,2018,Watercraft,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,1958-07-04,1958,Sea Disaster,PACIFIC OCEAN,Between Hawaii & Wake Island,600 miles northwest of Honolulu,U.S. Airforce C124 enroute from Hickham Air Ba...,"Captain Jonathan Brown, pilot",M,31,Left shoulder bitten,N,Sharks averaged 1.8 m [6'] in length
6817,1958-01-19,1958,Unprovoked,AUSTRALIA,New South Wales,Brunswick Heads,Body surfing,Brian Henderson,M,14,"Laceration to left ankle, heel and little toe",N,Unknown
6818,1957-04-13,1957,Unprovoked,AUSTRALIA,Torres Strait,"Thursday Island Harbour, Queensland",Swimming between anchored pearling luggers,Tuisafua Nomoa,M,22,"Left arm bitten, surgically amputated",N,Shark seen feeding on turtle scraps thrown ove...
6824,1955-11-16,1955,Unprovoked,PAPUA NEW GUINEA,Central Province,"Kalautu Village, Baibara at the mouth of Oibad...",Swimming,Niu Bodu,M,8,Right thigh bitten,N,Wobbegong shark
6844,1936-02-04,1936,Unprovoked,AUSTRALIA,New South Wales,"South Steyne, Manly",Swimming,David Paton,M,14,"FATAL, taken by shark, body not recovered. Twe...",Y,White shark

In [74]:
clean_data_df['Species_1'].value_counts().tail(10)

Species_1
Thought to involve a blacktip shark                                        1
Mako shark (tooth fragments recovered)                                     1
150-lb shark                                                               1
Small shark                                                                1
Though to involve a white shark                                            1
1.3 to 1.6 m shark                                                         1
6 m [20'] shark                                                            1
3'  shark                                                                  1
3.7 m to 4.3 m [12' to 14'] white shark                                    1
Shark seen feeding on turtle scraps thrown overboard prior to incident.    1
Name: count, dtype: int64

In [99]:
white_shark_df = clean_data_df.loc[clean_data_df['Species_1'] =='White shark' ]
white_shark_df

In [100]:
tiger_shark_df = clean_data_df.loc[clean_data_df['Species_1'] =='Tiger shark' ]
tiger_shark_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,Species_1
36,2015-10-09,2015,Unprovoked,USA,Hawaii,"Leftovers, Oahu",Surfing,Colin Cook,M,25,"Left leg severed below the knee, defense injur...",N,Tiger shark
51,2013-06-18,2013,Unprovoked,USA,Hawaii,Kona Coast State Park,Swimming,James Kerrigan,M,28,Right thigh & calf bitten,N,Tiger shark
54,2013-03-12,2013,Unprovoked,JAMAICA,St. Catherine,Pillikin Red Light area,Spearfishing,George Facey,M,68,FATAL,Y,Tiger shark
84,2006-03-18,2006,Unprovoked,FIJI,Vitu Levu,Sigatoka,Surfing,Paul Sue,M,21,Lacerations to right hand,N,Tiger shark
94,2000-09-08,2000,Unprovoked,REUNION,Saint-Pierre,Pic du Diable,Surfing,Karim Maan,M,27,Left arm bitten,N,Tiger shark
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6668,2017-10-09,2017,Unprovoked,USA,Hawaii,"Davidsons Beach, Kekaha, Kauai",Surfing,Mitch Milan,M,54,Lacerations to left hand,N,Tiger shark
6739,1997-02-28,1997,Unprovoked,AUSTRALIA,Queensland,Whitsunday Passage,Scuba diving,Gerald Rauch,M,30,Left arm bitten,N,Tiger shark
6751,1992-11-05,1992,Unprovoked,USA,Hawaii,"Kea'au Beach Park, O'ahu",Body boarding,Aaron A. Romento,M,18,Right leg severely lacerated FATAL,Y,Tiger shark
6752,1992-10-22,1992,Unprovoked,USA,Hawaii,"Lanaikea, O'ahu",Surfing,Rick (Eric) Gruzinsky,M,28,"Chest & arm bruised & scratched, 15 crescent-s...",N,Tiger shark
6772,1983-07-26,1983,Sea Disaster,AUSTRALIA,Queensland,"Off Lodestone Reef, Great Barrier Reef, north ...",Swimming from the New Venture,Linda Ann Horton,F,21,"FATAL, shark seized her by the chest and took ...",Y,Tiger shark

In [101]:
unknown_shark_df = clean_data_df.loc[clean_data_df['Species_1'] =='Unknown' ]
unknown_shark_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,Species_1
63,2011-08-31,2011,Unprovoked,USA,Florida,Crescent Beach St. Johns County,Surfing,Shane Lancaster,M,19,Lacerations to lower leg,N,Unknown
82,2007-08-25,2007,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Taylor Smith,M,27,6 lacerations to left hand,N,Unknown
104,1998-05-16,1998,Unprovoked,USA,Florida,"Pecks Lake, Martin County",Swimming,Janelle Dickinson,F,14,Ankle & foot bitten,N,Unknown
159,1964-09-07,1964,Unprovoked,TAIWAN,Northern Taiwan,Tamsui Beach,Swimming,LO Chiu-yang,M,20,Right thigh & elbow bitten,N,Unknown
168,1961-12-13,1961,Unprovoked,AUSTRALIA,Torres Strait,"Horn Island, near Thursday Island",Swimming with other crew near wharf,"George “Jimmy” Stevens, aborgine from the lugg...",M,17,Right thigh and leg lacerated,N,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6691,2011-01-31,2011,Unprovoked,MEXICO,Quintana Roo,Cancun,Swimming,Nicole Moore,F,38,"Leg, forearm & hand severely bitten",N,Unknown
6728,2001-09-24,2001,Provoked,USA,Florida,"Ponce Inlet, Volusia County","Surfing, fell off surfboard & stepped on the s...",male,M,21,PROVOKED INCIDENT Several small lacerations on...,N,Unknown
6733,1999-08-16,1999,Unprovoked,USA,South Carolina,"Grand Strand, Myrtle Beach, Horry County",Lying prone in 2' of water,Christopher (Will) Handley,M,10,"Ear lacerated, cuts on scalp, back, arm & shou...",N,Unknown
6770,1985-09-05,1985,Invalid,USA,Florida,"Fort Pierce Inlet, St Lucie County",Swimming,Jeff Justice,M,17,Found to be a hoax,UNKNOWN,Unknown
6817,1958-01-19,1958,Unprovoked,AUSTRALIA,New South Wales,Brunswick Heads,Body surfing,Brian Henderson,M,14,"Laceration to left ankle, heel and little toe",N,Unknown

In [102]:
bull_shark_df = clean_data_df.loc[clean_data_df['Species_1'] =='Bull shark' ]
bull_shark_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,Species_1
39,2015-06-01,2015,Unprovoked,REUNION,Le Port,Folette,Surfing,Eddy Chaussalet,M,47,Left forearm bitten,N,Bull shark
68,2009-12-20,2009,Unprovoked,AUSTRALIA,Queensland,Lamont Reef,Spearfishing,John Pengelly,M,18,Lacerations to hand & forearm,N,Bull shark
262,2021-01-13,2021,Unprovoked,AUSTRALIA,Western Australia,Blackwall Reach,Swimming,Cameron Wrathall,M,54,Severe injury to leg and broken him,N,Bull shark
305,2011-06-28,2011,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Aliwal Shoal,Scuba diving,Paolo Stanchi,M,22,Severe lacerations to hands and left leg,N,Bull shark
516,2020-09-20,2020,Unprovoked,USA,Florida,"Sombero Key Light, Monroe County",Snorkeling,Andrew Charles Eddy,M,30,Severe bite to shoulder,N,Bull shark
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6440,2015-06-07,2015,Unprovoked,USA,Florida,"Lori Wilson Park, Cocoa Beach, Brevard County",Playing,Lucas Vertullo,M,11,Lacerations to right calf,N,Bull shark
6460,2008-06-26,2011,Unprovoked,USA,North Carolina,"North Topsail Beach, Onslow County",Playing in the surf,Cassidy Cartwright,F,10,Ankle bitten,N,Bull shark
6472,2008-04-26,2008,Unprovoked,NEW CALEDONIA,North Province,Poindimié,Swimming,Olivier Vilain,M,32,Lacerations to left foot,N,Bull shark
6690,2011-03-23,2011,Unprovoked,AUSTRALIA,New South Wales,Crowdy Head,Surfing,David Pearson,M,48,Severe injury to left forearm,N,Bull shark
6699,2009-01-25,2009,Unprovoked,CUBA,Guantanamo Province,Guantanamo Bay,Spearfishing,John Emory,M,15,Severe lacerations to lower left leg,N,Bull shark

In [ ]:
White shark                        261
Tiger shark                        136
Unknown                            131
Bull shark                          73
Bronze whaler shark                 29
Blacktip shark                      28
Raggedtooth shark                   25
Shark involvement not confirmed     25
Nurse shark                         18
Grey nurse shark

In [103]:
bronze_whaler_shark_df = clean_data_df.loc[clean_data_df['Species_1'] =='Bronze whaler' ]
bronze_whaler_shark_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,Species_1
974,2022-08-31,2022,Unprovoked,AUSTRALIA,New South Wales,Avoca,Surfing,Sunni Pace,M,14,Puncture wounds to right hand & forearm,N,Bronze whaler
5808,1982-12-26,1982,Unprovoked,AUSTRALIA,New South Wales,Suffolk Park,Surfing,Paul Fletcher,M,27,"No injury, surfboard bitten",N,Bronze whaler

In [105]:
blacktip_shark_df = clean_data_df.loc[clean_data_df['Species_1'] =='Blacktip shark' ]
#blacktip_shark_df

In [110]:
raggedtooth_shark_df = clean_data_df.loc[clean_data_df['Species_1'] =='Raggedtooth shark' ]
raggedtooth_shark_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,Species_1
137,1983-12-21,1983,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Nahoon,Swimming,Jack Heydenrych,M,47,Shin lacerated,N,Raggedtooth shark
334,2006-04-09,2006,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Body boarding,Stuart Duffie,M,15,Leg bitten,N,Raggedtooth shark
390,1986-02-06,1986,Unprovoked,SOUTH AFRICA,Western Cape Province,Arniston,Spearfishing,Michael Taljaard,M,29,2 punctures in upper arm,N,Raggedtooth shark
628,1983-04-12,1983,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Bonza Bay,Fishing,Peter S. Venter,M,27,Puncture wounds to foot,N,Raggedtooth shark
1041,2006-12-06,2006,Provoked,SOUTH AFRICA,KwaZulu-Natal,Cape Vidal,Fishing,Peter Willoughby,M,25,"Hand, thigh & calf bitten by hooked shark PROV...",N,Raggedtooth shark
1114,1981-05-20,1981,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Nahoon,Surfing,Mark Jury,M,27,"Shark & board collided. No injury, but board w...",N,Raggedtooth shark
1262,2015-01-03,2015,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Chintsa East Beach,Surfing,Jason Krafft,M,15,"Lacerations to lower left leg, puncture wounds...",N,Raggedtooth shark
1353,1984-01-05,1984,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Port Alfred,Swimming,Robert Tennent,M,14,Foot bitten,N,Raggedtooth shark
1358,1981-05-10,1981,Unprovoked,SOUTH AFRICA,Eastern Cape Province,King’s Beach,Surfing,John Dunser,M,19,"No Injury, board bitten",N,Raggedtooth shark
1879,1932-01-01,1932,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Kowie River Mouth, Port Alfred",Collecting fish by lamplight in gully,Manning Samuels,M,23,"Right shin, calf and sole of foot lacerated",N,Raggedtooth shark
2329,1982-01-29,1982,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Mpekeweni,Swimming,Jeffrey Phillips-Page,M,20,Right shin & toe lacerated,N,Raggedtooth shark
2339,1974-04-20,1974,Unprovoked,SOUTH AFRICA,Western Cape Province,Arniston,Spearfishing,Andre Hartman,M,22,Left knee lacerated,N,Raggedtooth shark
2998,2008-12-10,2008,Provoked,SOUTH AFRICA,Western Cape Province,Plettenberg Bay,Fishing,Luke Parker,M,15,"Lacerations to knees, thigh and hip by hooked ...",N,Raggedtooth shark
3060,1985-01-27,1985,Unprovoked,SOUTH AFRICA,Western Cape Province,Struisbaai,Swimming,Marius Botha,M,15,"Right knee, calf and ankle lacerated",N,Raggedtooth shark
3781,1995-02-19,1995,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Kidd’s Beach,Swimming,Johan Deetlefs,M,22,Lacerations to lower leg & foot,N,Raggedtooth shark
3804,1986-02-07,1986,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"King's Beach, Port Elizabeth",Swimming,Johan Fourie,M,46,Lower leg lacerated,N,Raggedtooth shark
4013,2004-10-09,2004,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Jeffrey’s Bay,Surfing,Wayne Monk,M,34,Puncture wounds on right foot,N,Raggedtooth shark
4496,2005-11-15,2005,Provoked,SOUTH AFRICA,Eastern Cape Province,Aston Bay,Fishing for sharks,Ivan Gerger,M,32,Lacerations to hands & right leg when he tried...,N,Raggedtooth shark
5037,1980-01-10,1980,Unprovoked,SOUTH AFRICA,Eastern Cape Province,King’s Beach,Swimming,Andy Austin,M,25,3 small punctures on arm,N,Raggedtooth shark
5056,1964-12-25,1964,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Port Alfred,Swimming,W. A. Strijdom,M,19,"Hand, ankle & calf lacerated",N,Raggedtooth shark
5488,2006-02-08,2006,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon, East London",Surfing,Jason Noades,M,15,2 bite marks on right calf,N,Raggedtooth shark
5491,2005-05-25,2005,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Kei River Mouth,Surfing,Jay Catherall,M,32,Left buttock & legs lacerated,N,Raggedtooth shark
5493,2004-11-27,2004,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon, East London",Surfing,Llewellyn Maske,M,20,3 lacerations on foot,N,Raggedtooth shark
6191,2013-03-16,2013,Provoked,SOUTH AFRICA,Western Cape Province,De Mond,Fishing - 'tag & release',Kobus Koeberg,M,30,Lacerations to left calf and heel from hooked ...,N,Raggedtooth shark
6539,1970-06-15,1970,Provoked,SOUTH AFRICA,KwaZulu-Natal,"Shark tank, Oceanographic Research Institute, ...",Scuba Diving,Anand Govindsamy,M,25,2 cm laceration on knee PROVOKED INCIDENT,N,Raggedtooth shark

In [108]:
nurse_shark_df = clean_data_df.loc[clean_data_df['Species_1'] =='Nurse shark' ]
nurse_shark_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,Species_1
59,2012-06-15,2012,Provoked,USA,Florida,"Summerland Key, Monroe County",Fishing,male,M,23,Superficial injury to calf by hooked shark PRO...,N,Nurse shark
349,2002-03-15,2002,Unprovoked,USA,Florida,"Deerfield Beach (near Boca Raton), Broward County",Snorkeling,Robert Land,M,39,Arm bitten,N,Nurse shark
822,2002-08-11,2002,Unprovoked,USA,Florida,"Vero Beach, Indian River County",Surfing,Brad Milliken,M,15,Lacerations on heel & dorsum of right foot,N,Nurse shark
1489,2018-11-09,2018,Unprovoked,BAHAMAS,Exumas,Compass Cay,Swimming,Asher Jones,M,8,Arc of shallow lacerations to back,N,Nurse shark
1755,2009-07-04,2009,Provoked,USA,Florida,"Biscayne National Park, Miami",Swimming,Carmen Dominguez,F,43,Thigh injured by hooked shark PROVOKED INCIDENT,N,Nurse shark
2077,1969-05-24,1969,Provoked,USA,Florida,Sarasota County,Diving,Brian Martel,M,23,Laceration to buttocks Recorded as PROVOKED IN...,N,Nurse shark
2114,1958-06-26,1958,Provoked,USA,Florida,"Sanibel Island, Lee County",Wading,Eric Napier Cockerill,M,59,Right foot bitten when he walked into shark's ...,N,Nurse shark
2855,1967-08-07,1967,Unprovoked,USA,Florida,Near Key West,Spearfishing,Donald Ritter,M,15,Shark grasped thigh,N,Nurse shark
2971,2013-07-28,2013,Unprovoked,BAHAMAS,Exuma Islands,Compass Cay,Cleaning fish,male,M,64,Bitten on left hand,N,Nurse shark
3091,1967-06-13,1967,Provoked,USA,Florida,"Key West, Monroe County",Spearfishing,Andres Puma (or Pruna),M,26,"After shark was speared & hit on head, it bit ...",N,Nurse shark
3837,1963-09-10,1963,Provoked,USA,Florida,"Snapper Point Jetty, Miami, Dade County","Spearfishing, pulled shark’s tail",Robert Olsen,M,16,Minor injury to left forearm PROVOKED INCIDENT,N,Nurse shark
3879,1939-07-16,1939,Provoked,BAHAMAS,Andros Islands,Blue Hole,"Dress diving, filming shark & pulling it throu...",E.F. MacEwan,M,38,Minor injury to shoulder & back PROVOKED INCIDENT,N,Nurse shark
4490,2007-09-13,2007,Unprovoked,USA,Florida,"Lauderdale-by-the-Sea, Broward County",Snorkeling,Brandon Chapman,M,14,"Minor injury, shark latched onto his abdomen",N,Nurse shark
5181,2016-05-15,2016,Provoked,USA,Florida,"Boca Raton, Palm Beach County",Teasing a shark,female,F,23,Arm grabbed PROVOKED INCIDENT,N,Nurse shark
6013,2000-07-04,2000,Unprovoked,USA,Florida,"Artifical reef 3 miles off Manatee Beach, Mana...","Spearfishing, holding mesh bag with speared fish",Beverly Comstock,F,55,Lower right calf lacerated,N,Nurse shark
6564,1958-07-02,1958,Provoked,USA,Florida,"Siesta Key, Sarasota County",Free diving,John Hamlin,M,20,"He grabbed shark, it bit his leg below the kne...",N,Nurse shark
6660,2018-09-23,2018,Provoked,FIJI,Vanua Levu,Cakau Levu,Diving,Timoci Ratusaki,M,<NA>,Abrasion to leg when he kicked the shark PROVO...,N,Nurse shark
6663,2018-08-15,2018,Unprovoked,BAHAMAS,Abaco Islands,"Coco Bay, Green Turtle Cay",Standing,Kate Inskip,F,56,Injury to lower left leg,N,Nurse shark

In [111]:
shark_clean_data_df = pd.concat([nurse_shark_df, raggedtooth_shark_df, blacktip_shark_df, bronze_whaler_shark_df,bull_shark_df, unknown_shark_df, 
tiger_shark_df,white_shark_df], ignore_index=True)

In [114]:
shark_clean_data_df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n,Species_1
0,2012-06-15,2012,Provoked,USA,Florida,"Summerland Key, Monroe County",Fishing,male,M,23,Superficial injury to calf by hooked shark PRO...,N,Nurse shark
1,2002-03-15,2002,Unprovoked,USA,Florida,"Deerfield Beach (near Boca Raton), Broward County",Snorkeling,Robert Land,M,39,Arm bitten,N,Nurse shark
2,2002-08-11,2002,Unprovoked,USA,Florida,"Vero Beach, Indian River County",Surfing,Brad Milliken,M,15,Lacerations on heel & dorsum of right foot,N,Nurse shark
3,2018-11-09,2018,Unprovoked,BAHAMAS,Exumas,Compass Cay,Swimming,Asher Jones,M,8,Arc of shallow lacerations to back,N,Nurse shark
4,2009-07-04,2009,Provoked,USA,Florida,"Biscayne National Park, Miami",Swimming,Carmen Dominguez,F,43,Thigh injured by hooked shark PROVOKED INCIDENT,N,Nurse shark
...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,2015-07-03,2015,Unprovoked,AUSTRALIA,New South Wales,Lennox Head,Surfing,Michael Hoile,M,52,"No injury, shark bit surfboard",N,White shark
669,2002-09-13,2002,Unprovoked,SOUTH AFRICA,Western Cape Province,"Glencairn, False Bay",Surf skiing,Paul Mauger (or Major),M,47,No injury,N,White shark
670,1963-02-08,1963,Unprovoked,FIJI,Lomaiviti Island Group,"Taibaisa Passage, Gau Island",Spearfishing,Jone Waiteatei,M,28,Left arm bitten,N,White shark
671,1960-04-24,1960,Unprovoked,USA,California,"Tomales Point, Marin County",Free diving for abalone diving but at surface),Frank I. Gilbert,M,48,Foot & swim fin bitten,N,White shark
672,1936-02-04,1936,Unprovoked,AUSTRALIA,New South Wales,"South Steyne, Manly",Swimming,David Paton,M,14,"FATAL, taken by shark, body not recovered. Twe...",Y,White shark